@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-dropdown {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;
	color: $ms-color-gray160;
	box-shadow: none;
	margin: 0px;
	padding: 0px;
	user-select: none;
  outline: 0px;

	.ms-dropdown-controller {
		position: relative;
		
		.ms-dropdown-icon {
			position: absolute;
			height: 100%;
			font-size: $ms-font-size-12;
		}
		
		.ms-dropdown-content {
			width: 100%;
			white-space: nowrap;
    	text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;
		}
	}

	.ms-dropdown-options {
		width: 300px;
		position: absolute;
		display: none;
		border-radius: 0px 0px 2px 2px;
		width: 100%;
		background-color: $ms-color-white;
		box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
		overflow: auto;
		z-index: $ms-zIndex-3;

		.ms-dropdown-divider {
			height: $ms-focus-border-width;
			background-color: $ms-color-gray30;
		}

		.ms-dropdown-header, .ms-dropdown-item {
			user-select: none;
			background: transparent;
			font-size: $ms-font-size-m-plus;
			font-family: inherit;
			width: 100%;
			height: 100%;
			text-align: left;
		}

		.ms-dropdown-header {
			color: $ms-color-blue;
			cursor: default;
			font-size: $ms-font-size-m-plus;
			font-weight: $ms-font-weight-semibold;
		}

		.ms-dropdown-item-icon { 
			display: inline;
		}

		.ms-dropdown-item {
			outline: none;
			border: none;
			padding: 0px;
			
			&, span {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				vertical-align: top;
			}

			&:hover {
				background-color: $ms-color-gray20
			}
			
			&.ms-dropdown-item-active {
				background-color: $ms-color-gray30;
				color: $ms-color-gray190;
			}
		}

		.ms-dropdown-item-multi {
			position: relative;

			.ms-dropdown-item-icon {
				position: absolute;
			}
		}
	}
	
	.ms-text-field-group-inline {
		table-layout: fixed;

		.ms-text-field-icon {
			width: 32px;
		}
	}
}

.ms-dropdown-sm {
	.ms-dropdown-controller {
		span {
			height: 24px;
			line-height: 24px;
		}
	}
}

.ms-dropdown-lg {
	.ms-dropdown-controller {
		span {
			height: 40px;
			line-height: 40px;
		}
	}
}

.ms-dropdown-md {
	.ms-dropdown-controller {
		span {
			height: 32px;
			line-height: 32px;
		}
	}

	.ms-dropdown-options {
		.ms-dropdown-header, .ms-dropdown-item {
			height: 32px;
			line-height: 32px;
			padding: 0px 8px;
		}

		.ms-dropdown-item {
			span {
				width: 230px;
			}

			.ms-dropdown-item-icon {
				top: 8px;
				right: 8px;
			}

			.ms-checkbox.ms-checkbox-md {
				margin-top: 0;

				span {
					line-height: 32px;
				}
				label .ms-virtual-checkbox {
					margin: 8px 8px 8px 0;
				}
			}
		}
	}

	.ms-dropdown-controller, .ms-dropdown-item {

		.ms-dropdown-item-icon {
			width: 16px;
			margin-left: 5px;
		}
	}
}

.ms-dropdown-controller {
	.ms-dropdown-content {
		padding-left: 8px;

		span {
			vertical-align: top;
		}
	}

	&.ms-text-field-enabled .ms-text-field-group-inline:hover {
		border-color: $ms-color-blue;
	}
}


.ms-dropdown-disabled {
	.ms-dropdown-content {
		color: $ms-color-gray90;
		background-color: $ms-color-gray20;
		cursor: default;
	}
}

.ms-dropdown-error {
	.ms-dropdown-controller .ms-text-field-group-inline {
		border-color: $ms-color-sharedRed10;
	}

	.ms-dropdown-error-message {
		color: $ms-color-sharedRed20;
    font-family: inherit;
    font-size: $ms-font-size-12;
		padding-top: 5px;
		position: absolute;
	}
}

.ms-dropdown-active {
	.ms-dropdown-controller .ms-text-field-group-inline {
		border-color: $ms-color-blue;
	}

	.ms-dropdown-options {
		display: block;
	}
}

.ms-dropdown-required {
	.ms-dropdown-controller::after {
    content: "*";
    color: $ms-color-sharedRed20;
    position: absolute;
    top: -5px;
    right: -10px;
	}
}