@import 'scss/_References.scss';

.ms-dropdown {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;
	color: $ms-color-gray160;
	box-shadow: none;
	margin: 0px;
	padding: 0px;
	user-select: none;
  outline: 0px;

	.ms-dropdown-controller {
    position: relative;
		background-color: $ms-color-white;
		width: 100%;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(138, 136, 134);
		border-radius: 2px;
		
		.ms-dropdown-icon {
			position: absolute;
			height: 100%;
			font-size: $ms-font-size-12;
		}
		
		.ms-dropdown-content {
			white-space: nowrap;
    	text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	.ms-dropdown-options {
		position: absolute;
		display: none;
		border-radius: 0px 0px 2px 2px;
		width: 100%;
		background-color: $ms-color-white;
		box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
		overflow: auto;
		z-index: $ms-zIndex-3;

		.ms-dropdown-divider {
			height: $ms-focus-border-width;
			background-color: $ms-color-gray30;
		}

		.ms-dropdown-header, .ms-dropdown-item {
			user-select: none;
			background: transparent;
			font-size: $ms-font-size-m-plus;
			font-family: inherit;
			width: 100%;
			height: 100%;
			text-align: left;
		}

		.ms-dropdown-header {
			color: rgb(0, 120, 212);
			cursor: default;
			font-size: $ms-font-size-m-plus;
			font-weight: $ms-font-weight-semibold;
		}

		.ms-dropdown-item {
			outline: none;
			border: none;
			padding: 0px;
			
			&, span {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			img {
				vertical-align: middle;
			}

			&:hover {
				background-color: $ms-color-gray20
			}
			
			&.ms-dropdown-item-active {
				background-color: rgb(237, 235, 233);
				color: rgb(32, 31, 30);
			}
		}

		.ms-dropdown-item-multi {
			position: relative;

			.ms-dropdown-item-icon {
				position: absolute;
			}
		}
	}
}

.ms-dropdown-md {
	.ms-dropdown-controller {
		width: 300px;
		height: 32px;
    line-height: 30px;
		padding-right: 28px;
		padding-left: 8px;

		span {
			height: 32px;
			line-height: 32px;
		}
		
		.ms-dropdown-icon {
			top: 1px;
			right: 8px;
			line-height: 30px;
		}
	}

	.ms-dropdown-options {
		width: 300px;

		.ms-dropdown-header, .ms-dropdown-item {
			height: 36px;
			line-height: 36px;
			padding: 0px 8px;
		}

		.ms-dropdown-item {
			span {
				height: 32px;
				line-height: 32px;
				width: 230px;
			}

			.ms-checkbox.ms-checkbox-md {
				margin-top: 0;

				span {
					margin: 2px 0;
				}
				label .ms-virtual-checkbox {
					margin: 8px 8px 8px 0;
				}
			}
		}
	}

	.ms-dropdown-controller, .ms-dropdown-item {
		.ms-dropdown-item-icon {
			margin-right: 4px;
			width: 15px;
			height: 15px;
			line-height: 15px;
		}

		.ms-dropdown-item-icon {
			top: 8px;
			right: 8px;
		}
	}
}

.ms-dropdown-disabled {
	.ms-dropdown-controller {
		border-color: transparent;
		color: rgb(161, 159, 157);
		background-color: rgb(243, 242, 241);
		cursor: default;
	}
}

.ms-dropdown-error {
	.ms-dropdown-controller {
		border-color: rgb(209, 52, 56);
	}

	.ms-dropdown-error-message {
		color: rgb(164, 38, 44);
    font-family: inherit;
    font-size: $ms-font-size-12;
    padding-top: 5px;
	}
}

.ms-dropdown-active {
	.ms-dropdown-controller {
		border-color: rgb(0, 120, 212);
	}

	.ms-dropdown-options {
		display: block;
	}
}

.ms-dropdown-required {
	.ms-dropdown-controller::after {
    content: "*";
    color: rgb(164, 38, 44);
    position: absolute;
    top: -5px;
    right: -10px;
	}
}