@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-pagination {
	list-style: none;
	font-size: 0;
	background: transparent;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		
		button {
			font-family: inherit;
			font-weight: $ms-font-weight-semibold;
			color: $ms-color-gray160;
			background: transparent;
			outline: none;
			border: none;
			padding: 0px;
			box-sizing: border-box;
			text-align: center;
			cursor: pointer;
			border-radius: 2px;
			padding: 0 2px;
			
			&:hover {
				color: $ms-color-blue;
			}
		}


		.ms-button-active {
			background-color: $ms-color-blue;
			color: $ms-color-white;

			&:hover {
				color: $ms-color-white;
			}
		}
	}
}

.ms-pagination-sm {
	li {
		button {
			font-size: $ms-font-size-12;
			min-width: $ms-font-size-24;
			height: $ms-font-size-24;
			line-height: $ms-font-size-24;
		}
	}
}

.ms-pagination-md {
	li {
		button {
			font-size: $ms-font-size-14;
			min-width: $ms-font-size-32 - 2;
			height: $ms-font-size-32 - 2;
			line-height: $ms-font-size-32 - 2;
		}
	}
}

.ms-pagination-lg {
	li {
		button {
			font-size: $ms-font-size-16;
			min-width: $ms-font-size-32 + 4;
			height: $ms-font-size-32 + 4;
			line-height: $ms-font-size-32 + 4;
		}
	}
}

.ms-pagination-border {
	li {
		border-color: $ms-color-gray20;
		border-top-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-style: solid;
	}

	.ms-button-prev {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	.ms-button-next {
		border-right-width: 1px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.ms-pagination-bar {
	li {
		padding: 0 4px;
	}

	li button {
		background-color: $ms-color-gray20;
	}
}