@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-rating {
	font-family: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;

	button {
		position: relative;
		display: inline-block;
		box-sizing: content-box;
    background-color: transparent;
    padding: 8px 2px;
    margin: 0px;
    outline: transparent;
    border: none;
	}

	.ms-rating-container {
		position: relative;
	}

	i {
		display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
		overflow: hidden;

		&.ms-rating-front {
			position: absolute;
			left: 0px;
			top: 0px;
			text-align: center;
			vertical-align: middle;
		}
	}
}

.ms-rating-lg {
	button {
		font-size: $ms-icon-size-l;
    line-height: $ms-icon-size-l;
    height: $ms-icon-size-l;
	}
}

.ms-rating-md {
	button {
		font-size: $ms-icon-size-m;
    line-height: $ms-icon-size-m;
    height: $ms-icon-size-m;
	}
}

.ms-rating-sm {
	button {
		font-size: $ms-icon-size-s;
    line-height: $ms-icon-size-s;
    height: $ms-icon-size-s;
	}
}

.ms-rating-enabled {
	button {
		cursor: pointer;

		.ms-rating-hover {
			color: $ms-color-gray160;
		}
		
		&:hover {
			i.ms-rating-back {
				color: $ms-color-communicationPrimary;
			}

			.ms-rating-front {
				color: $ms-color-communicationShade20;
			}

			&~button .ms-rating-front {
				color: $ms-color-gray90;
			}
		}
	}
}

.ms-rating-enabled, .ms-rating-readonly {
	i {
    color: $ms-color-gray90;

		&.ms-rating-front {
			color: $ms-color-gray160;
		}
	}
}

.ms-rating-disabled {
	button {
		i {
			color: $ms-color-gray60;
		}
	}
}

.ms-rating-disabled, .ms-rating-readonly {
	button {
		cursor: default
	}
}