@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-search-box {
	position: relative;
	display: table;
	width: 100%;
	font-family: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;
	box-shadow: none;
	margin: 0px;
	box-sizing: border-box;
	color: $ms-color-gray160;
	background-color: $ms-color-white;
	border-style: solid;
	border-color: $ms-color-gray110;
	border-radius: 2px;
	border-bottom-width: 1px;

	i {
    font-size: $ms-font-size-16;
    text-align: center;
	}

	button {
    text-align: center;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    user-select: none;
    outline: transparent;
		border: none;
		text-align: center;

		i {
			font-size: $ms-font-size-12;
		}
	}

	i, button {
		width: 100%;
	}

	.icon-search, .icon-clear, .input-wrapper {
		display: table-cell;
		vertical-align: top;
	}

	.input-wrapper {
		position: relative;

		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $ms-color-white;
		}
	}

	.input-wrapper span, input[type=text] {
		font-family: inherit;
		box-shadow: none;
		width: 100%;
    margin: 0px;
		padding: 0px;
    color: $ms-color-gray160;
    border: none;
		outline: none;
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		cursor: text;
	}

	input[type=text] {
		background-color: transparent;
		
		&::-ms-clear, &::-ms-reveal{
			display: none;
		}
	}
}

.ms-search-box-md {
	height: 32px;
	padding: 1px 0px 1px 4px;

	i, button {
		height: 28px;
		line-height: 28px;
	}

	.icon-search, .icon-clear {
		width: 32px;
	}

	input[type=text], .input-wrapper span {
		height: 28px;
		line-height: 28px;
	}

	&.ms-search-box-enabled.ms-search-box-active {
		input[type="text"] {
			padding-left: 4px;
		}
	}
}

.ms-search-box-enabled {
	&:hover {
		border-color: $ms-color-gray190;
	}

	&.ms-search-box-active {
		&:hover {
			border-color: $ms-color-blue;
		}

		.icon-search {
			display: none;
		}

		.input-wrapper {
			span {
				display: none;
			}
		}
	}

	i {
		color: $ms-color-blue;
	}

	.icon-clear {
		&:hover {
			background-color: $ms-color-gray20;
		}
	}
}

.ms-search-box-disabled {
	i {
		color: $ms-color-gray90;
	}

	&.ms-search-box-border, &.ms-search-box-border  .input-wrapper span {
		background-color: $ms-color-gray20;
	}

	input[type=text] {
		cursor: default;
	}
}

.ms-search-box-border {
	border-width: 1px;
}