@import 'scss/_References.scss';

%ms-button {
	background-color: transparent;
	font-size: $ms-font-size-12;
	border-style: solid;
	border-width: $ms-focus-border-width;
	&:hover {

	}
	&:checked {

	}
}

%ms-button-disable {
}

%ms-button-pressed {
}

%ms-button-checked:hover {
}

%ms-button-checked-pressed {
}

[theme=dark].ms-button {
}

[theme=light].ms-button {
}

.ms-button-disable {
}

.ms-button:hover {

}

.ms-button:checked {

}

.ms-button-pressed {

}

.ms-button-checked:hover {

}

.ms-button-checked-pressed {

}