@import 'scss/_References.scss';

.ms-button-container {
	display: inline-block;
	position: relative;
}

.ms-button {
	position: relative;
	height: auto;
	font-weight: $ms-font-weight-regular;
	background-color: $ms-color-white;
	border: $ms-focus-border-width $ms-focus-border-style transparent;
	overflow: hidden;

	a, button {
		position: relative;
		display: block;
		float: left;  //error
		height: 100%;
		font: inherit;
		font-weight: $ms-font-weight-regular;
		outline: transparent none medium;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		user-select: none;
		border: none;
		padding: 0px;
		background-color: transparent;
	}

	.ms-icon {
		float: left;
	}

	.ms-button-icon.ms-icon {
		margin: 0px;
	}

	&.ms-button-compound {

		.ms-description {
			display: block;
		}

		.ms-button-label {
			text-align: left;
		}
	}

	&.ms-button-no-split, &.ms-button-split {

		&.ms-button-standard,
		&.ms-button-primary,
		&.ms-button-bar.ms-button-standard,
		&.ms-button-border.ms-button-standard {
			&.ms-button-disabled {
				border-color: transparent;
			}
	
			.ms-button-disabled {
				cursor: default;
				color: $ms-color-gray90;
				border-color: transparent; 
				background-color: $ms-color-white;
			
				a, button {
					cursor: default;
					color: $ms-color-gray90;
				}
			}
		}
	
		&.ms-button-primary, &.ms-button-border.ms-button-standard {
			&.ms-button-disabled {
				border-color: darken($ms-color-white, 4.5%);
			}
	
			.ms-button-disabled {
				background-color: darken($ms-color-white, 4.5%);
			}
		}
	}
}

.ms-description {
	display: none;
  width: 100%;
	font-family: $ms-font-family-west-european;
	font-size: $ms-font-size-12;
	font-weight: $ms-font-weight-regular;
	text-align: left;
}

.ms-button-label {
	display: block;
  width: 100%;
}

.split {
	position: absolute;
	width: 1px;
	height: 50%;
	left: 0;
	top: 25%;
	background-color: $ms-color-communicationTint30;
}

.ms-split-button {
	height: 100%;
	width: 100%;

	.ms-split-left {
		border-right: none;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px
	}

	.ms-split-right {
		border-left: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px
	}
}

.ms-button-border, .ms-button-primary {
	button, a, .ms-icon {
		font-weight: $ms-font-weight-semibold;
	}
}

.ms-button-border {
	border-radius: 2px;

	&.ms-button-standard {
		border-color: $ms-color-gray110;
	}
}

.ms-button-primary {
	
	button, a {
		color: $ms-color-white;
		background-color: $ms-color-blue;
	}
}

.ms-button-standard {
	button, a {
		color: $ms-color-gray160;
	}
}

.ms-button-sm {

}

.ms-button-md {
	a, button {
		padding: 8px;
		font-size: $ms-font-size-14;
	}

	.ms-icon {
		margin-right: 6px;
	}

	&.ms-button-compound {
		a, button {
			padding: 16px 12px;
		}

		.ms-description {
			display: block;
			margin-top: 5px;
		}
	}
}

.ms-button-lg {

}



.ms-button-no-split {
	&.ms-button-primary {
		&:hover button, &:hover a {
			background-color: $ms-color-communicationShade10;
		}
	
		&:active button, &:active a {
			background-color: $ms-color-communicationShade20;
		}
	}
	
	&.ms-button-standard {
	
		&:hover button, &:hover a {
			color: $ms-color-communicationShade10;
		}
	
		&:active button, &:active a {
			color: $ms-color-communicationShade20;
		}
	}

	&.ms-button-bar, &.ms-button-border {
		&.ms-button-standard {
			&:hover button, &:hover a{
				background-color: $ms-color-gray20;
				color: $ms-color-gray190;
			}
			&:active button, &:active a {
				background-color: rgb(200, 200, 200);
				color: $ms-color-gray190;
			}
		}
	}
}

.ms-button-split {
	&.ms-button-primary {
	
		button:hover, a:hover {
			background-color: $ms-color-communicationShade10;
		}
	
		button:active, a:active {
			background-color: $ms-color-communicationShade20;
		}
	}

	&.ms-button-standard {
	
		button:hover, a:hover {
			color: $ms-color-communicationShade10;
		}
	
		button:active, a:active {
			color: $ms-color-communicationShade20;
		}
	}

	&.ms-button-bar, &.ms-button-border {
		&.ms-button-standard {
			button:hover, a:hover{
				background-color: $ms-color-gray20;
				color: $ms-color-gray190;
			}
			button:active, a:active {
				background-color: rgb(200, 200, 200);
				color: $ms-color-gray190;
			}
		}
	}
}