@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-button-container {
	display: inline-block;
	position: relative;
	line-height: 100%;
}

.ms-button {
	position: relative;
	height: auto;
	font-weight: $ms-font-weight-regular;
	background-color: $ms-color-white;
	overflow: hidden;

	a, button {
		position: relative;
		display: block;
		float: left;  //error
		height: 100%;
		font: inherit;
		font-weight: $ms-font-weight-regular;
		outline: transparent none medium;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		user-select: none;
		border: $ms-focus-border-width $ms-focus-border-style transparent;
		padding: 0px;
		background-color: transparent;
	}

	.ms-icon {
		float: left;
	}

	.ms-button-icon.ms-icon {
		margin: 0px;
	}

	&.ms-button-compound {

		.ms-description {
			display: block;
		}

		.ms-button-label {
			text-align: left;
		}
	}

	&.ms-button-no-split, &.ms-button-split {

		&.ms-button-standard,
		&.ms-button-primary,
		&.ms-button-bar.ms-button-standard,
		&.ms-button-border.ms-button-standard {
			.ms-button-disabled {
				cursor: default;
				color: $ms-color-gray90;
				background-color: $ms-color-white;
				
				a, button {
					cursor: default;
					color: $ms-color-gray90;
				}
			}
		}
	
		&.ms-button-primary, &.ms-button-border.ms-button-standard {
			.ms-button-disabled {
				border-color: darken($ms-color-white, 4.5%);
				background-color: darken($ms-color-white, 4.5%);
			}
		}
	}
}

.ms-button-dropdown button:first-child,
.ms-button-dropdown a:first-child  {
	border-left-color: transparent;
}

.ms-button-dropdown button:last-child,
.ms-button-dropdown a:last-child {
	border-left: none;
}

.ms-description {
	display: none;
  width: 100%;
	font-family: $ms-font-family-west-european;
	font-size: $ms-font-size-12;
	font-weight: $ms-font-weight-regular;
	text-align: left;
}

.ms-button-label {
	display: block;
  width: 100%;
}

.split {
	position: absolute;
	width: 1px;
	height: 50%;
	left: 0;
	top: 25%;
	background-color: $ms-color-communicationTint30;
}

.ms-split-button {
	height: 100%;
	width: 100%;

	.ms-split-left {
		border-right: none;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px
	}

	.ms-split-right {
		border-left: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px
	}
}

.ms-button-border {
	border-radius: 2px;

	&.ms-button-standard {
		button, a {
			border-color: $ms-color-gray110;
		}

		&.ms-button-dropdown button:first-child,
		&.ms-button-dropdown a:first-child {
			border-right-color: transparent;
		}
	}
}

.ms-button-primary {
	
	button, a {
		color: $ms-color-white;
		background-color: $ms-color-blue;
		border-color: $ms-color-blue;
	}
}

.ms-button-standard {
	button, a {
		color: $ms-color-gray160;
	}
}

.ms-button-sm {
	a, button {
		padding: 6px;
		font-size: $ms-font-size-12;
	}

	.ms-icon {
		margin-right: 4px;
	}

	&.ms-button-compound {
		a, button {
			padding: 14px 10px;
		}

		.ms-description {
			margin-top: 3px;
		}
	}
}

.ms-button-md {
	a, button {
		padding: 8px;
		font-size: $ms-font-size-14;
	}

	.ms-icon {
		margin-right: 6px;
	}

	&.ms-button-compound {
		a, button {
			padding: 16px 12px;
		}

		.ms-description {
			margin-top: 5px;
		}
	}
}

.ms-button-lg {
	a, button {
		padding: 11px;
		font-size: $ms-font-size-16;
	}

	.ms-icon {
		margin-right: 6px;
	}

	&.ms-button-compound {
		a, button {
			padding: 20px 16px;
		}

		.ms-description {
			margin-top: 5px;
		}
	}
}



.ms-button-no-split {
	&.ms-button-primary {
		&:hover button, &:hover a {
			background-color: $ms-color-communicationShade10;
		}
	
		&:active button, &:active a {
			background-color: $ms-color-communicationShade20;
		}
	}
	
	&.ms-button-standard {
	
		&:hover button, &:hover a {
			color: $ms-color-communicationShade10;
		}
	
		&:active button, &:active a {
			color: $ms-color-communicationShade20;
		}
	}

	&.ms-button-bar, &.ms-button-border {
		&.ms-button-standard {
			&:hover button, &:hover a{
				background-color: $ms-color-gray20;
				color: $ms-color-gray190;
			}
			&:active button, &:active a {
				background-color: rgb(200, 200, 200);
				color: $ms-color-gray190;
			}
		}
	}
}

.ms-button-split {
	&.ms-button-primary {
	
		button:hover, a:hover {
			background-color: $ms-color-communicationShade10;
		}
	
		button:active, a:active {
			background-color: $ms-color-communicationShade20;
		}
	}

	&.ms-button-standard {
	
		button:hover, a:hover {
			color: $ms-color-communicationShade10;
		}
	
		button:active, a:active {
			color: $ms-color-communicationShade20;
		}
	}

	&.ms-button-bar, &.ms-button-border {
		&.ms-button-standard {
			button:hover, a:hover{
				background-color: $ms-color-gray20;
				color: $ms-color-gray190;
			}
			button:active, a:active {
				background-color: rgb(200, 200, 200);
				color: $ms-color-gray190;
			}
		}
	}
}