@import 'scss/_References.scss';

.ms-button {
	display: inline-block;
	position: relative;
}

.ms-button-md {
	.ms-button-content {
		height: 100%;
		padding: 8px;

		&.ms-compound-button {
			max-width: 280px;
			min-height: 72px;
			height: auto;
			padding: 16px 12px;
			text-align: left;
			line-height: 100%;

			.ms-button-label {
				margin-bottom: 5px;
			}
		}
	}

	i.ms-icon, i.ms-icon-dropdown {
		height: 100%;
		line-height: 100%;
		vertical-align: middle;
		// display: inline;
	}

	i.ms-icon {
		margin: 0 4px;
		font-weight: $ms-font-weight-semibold
	}

	i.ms-icon-dropdown {
		font-size: 12px;
		margin: 1px 4px;
	}

	&.ms-bar .ms-button-content, &.ms-button-border .ms-button-content {
		font-weight: $ms-font-weight-semibold;
	}

	&.ms-button-icon {
		width: 2 * $ms-icon-size-m;
		min-width: 2 * $ms-icon-size-m;
		height: 2 * $ms-icon-size-m;
		padding: 0px;
		text-align: center;

		i.ms-icon {
			margin: 0px;
		}
	}

	.ms-split-right {
		padding: 8px 6px;
	}
}

.split {
	position: absolute;
	width: 1px;
	height: 50%;
	left: 0;
	top: 25%;
	background-color: rgb(222, 236, 249);
}

.ms-button-content {
	position: relative;
	font: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;
	outline: transparent none medium;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	border: none;
	padding: 0px;
	float: left;
	background-color: $ms-color-white;
}

.ms-button-label {
	display: inline-block;
	line-height: 100%;
	vertical-align: middle;
}

.ms-description {
	font-family: $ms-font-family-west-european;
	font-size: $ms-font-size-12;
	font-weight: $ms-font-weight-regular;
	text-align: left;
}

.ms-button-standard {
	color: $ms-color-gray160;

	.ms-description {
		color: $ms-color-gray130;
	}

	.ms-icon {
		color: $ms-color-blue;
	}

	.split {
		background-color: $ms-color-gray60;
	}

	&:hover {
		color: $ms-color-communicationShade10;
	}

	&:active {
		color: $ms-color-communicationShade20;
	}
}

.ms-button-primary {
	background-color: $ms-color-blue;
	color: $ms-color-white;

	&:hover {
		background-color: $ms-color-communicationShade10;
	}

	&:active {
		background-color: $ms-color-communicationShade20;
	}
}

.ms-button-border {
	.ms-button-content {
		border-radius: 2px;
		border: $ms-focus-border-width $ms-focus-border-style transparent;
	}

	.ms-button-standard {
		border-color: $ms-color-gray110;
	}
}

.ms-bar, .ms-button-border {
	.ms-button-standard {
		&:hover {
			background-color: $ms-color-gray20;
			color: $ms-color-gray190;

			.ms-description {
				color: $ms-color-gray190;
			}
		}
		&:active {
			background-color: rgb(200, 200, 200);
			color: $ms-color-gray190;

			.ms-description {
				color: $ms-color-gray190;
			}
		}
	}
}

.ms-split-button {
	.ms-split-left {
		border-right: none;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px
	}

	.ms-split-right {
		border-left: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px
	}
}

.ms-button-disabled {
	color: darken($ms-color-white, 35%);
	cursor: default;
}

.ms-button-border, .ms-bar {
	.ms-button-disabled {
		background-color: darken($ms-color-white, 4.5%);
	}
}