@import 'scss/_References.scss';

ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
	min-width: 180px;
	max-height: 959px;

	&.ms-menu {
		font: inherit;
		font-size: $ms-font-size-14;
		font-weight: $ms-font-weight-regular;
		position: fixed;
		z-index: $ms-zIndex-1;
		box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px,
			rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
		outline: none;
		border: none;
		border-radius: 2px;
		background-color: $ms-color-white;
		top: 0;
		left: 0;
	}

	li {
		position: relative;
		display: block;
		cursor: pointer;
		text-align: left;
		white-space: nowrap;

		.ms-menu {
			top: 0;
			left: 99%;
		}

		.hidden {
			display: none;
		}
	}

	i {
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		font-family: FabricMDL2Icons;
		vertical-align: middle;
	}

	.ms-menu-item {
		padding: 0 8px 0 4px;

		.secondary-text {
			color: $ms-color-gray130;
			padding-left: 20px;
			float: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 40%;
		}
	}

	.ms-menu-sub {
		i.ms-ChevronRight {
			font-size: 12px;
			color: $ms-color-gray130;
			float: right;
			margin: 0;
			padding: 0 8px;
			width: auto;
		}
	}

	.ms-menu-item, .ms-menu-sub {
		display: block;
		width: 100%;
		height: 36px;
		color: $ms-color-gray160;
		line-height: 36px;

		i {
			width: 16px;
			min-height: 1px;
			margin: 0 4px;
			font-size: 16px;
			color: $ms-color-blue;
		}

		.text {
			display: inline-block;
			margin: 0 4px;
			vertical-align: middle;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&.select, .select {
			background-color: $ms-color-gray20;
			color: rgb(32, 31, 30);
		}
	
		&.active, .active {
			background-color: $ms-color-gray30;
		}
		
		&.ms-menu-item-disabled, .ms-menu-item-disabled {
			cursor: default;
	
			i, .text, .secondary-text {
				color: $ms-color-gray90;
			}
		}
	}
}