@import 'office-ui-fabric-core/src/sass/_References.scss';

ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;

	&.ms-menu {
		font: inherit;
		font-weight: $ms-font-weight-regular;
		position: absolute;
		z-index: $ms-zIndex-1;
		box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px,
			rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
		outline: none;
		border: none;
		border-radius: 2px;
		background-color: $ms-color-white;
		top: 0;
		left: 0;
	}

	&.ms-menu-left {
		li .ms-menu {
			right: 99%;
			left: auto;
		}
	}

	li {
		position: relative;
		display: block;
		cursor: pointer;
		text-align: left;
		white-space: nowrap;

		.ms-menu {
			top: 0;
			left: 99%;
		}

		.hidden {
			display: none;
		}
	}

	i {
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		font-family: FabricMDL2Icons;
		vertical-align: middle;
	}

	.ms-menu-item .secondary-text {
		width: 40%;
		color: $ms-color-gray130;
		float: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&.ms-menu-sm, &.ms-menu-md, &.ms-menu-lg {
		.ms-menu-sub i.ms-ChevronRight {
			color: $ms-color-gray130;
			float: right;
			margin: 0;
			width: auto;
		}
	}

	.ms-menu-item, .ms-menu-sub {
		display: block;
		width: 100%;
		color: $ms-color-gray160;

		i {
			color: $ms-color-blue;
		}

		.text {
			display: inline-block;
			vertical-align: middle;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&.select, .select {
			background-color: $ms-color-gray20;
			color: $ms-color-gray190;
		}
	
		&.active, .active {
			background-color: $ms-color-gray30;
		}
		
		&.ms-menu-item-disabled, .ms-menu-item-disabled {
			cursor: default;
	
			i, .text, .secondary-text {
				color: $ms-color-gray90;
			}
		}
	}

	&.ms-menu-sm {
		min-width: 100px;
		max-height: 880px;
		font-size: $ms-font-size-12;

		.ms-menu-item {
			padding: 0 6px 0 2px;

			.secondary-text {
				padding-left: 15px;
			}
		}

		.ms-menu-sub i.ms-ChevronRight {
			font-size: 12px;
			padding: 0 4px;
		}

		.ms-menu-item, .ms-menu-sub {
			height: 30px;
			line-height: 30px;

			i {
				width: 12px;
				min-height: 1px;
				margin: 0 4px;
				font-size: $ms-font-size-12;
			}
		}
	}

	&.ms-menu-md {
		min-width: 180px;
		max-height: 959px;
		font-size: $ms-font-size-14;

		.ms-menu-item {
			padding: 0 8px 0 4px;

			.secondary-text {
				padding-left: 20px;
			}
		}

		.ms-menu-sub i.ms-ChevronRight {
			font-size: 12px;
			padding: 0 8px;
		}

		.ms-menu-item, .ms-menu-sub {
			height: 36px;
			line-height: 36px;

			i {
				width: 16px;
				min-height: 1px;
				margin: 0 4px;
				font-size: 16px;
			}
		}
	}

	&.ms-menu-lg {
		min-width: 260px;
		max-height: 1000px;
		font-size: $ms-font-size-16;

		.ms-menu-item {
			padding: 0 12px 0 6px;

			.secondary-text {
				padding-left: 25px;
			}
		}

		.ms-menu-sub i.ms-ChevronRight {
			font-size: 14px;
			padding: 0 12px;
		}

		.ms-menu-item, .ms-menu-sub {
			height: 42px;
			line-height: 42px;

			i {
				width: 16px;
				min-height: 1px;
				margin: 0 4px;
				font-size: 16px;
			}
		}
	}
}