@import 'scss/_References.scss';

.ms-list {
	position: relative;
	display: table;
	width: 100%;
	font-family: inherit;
	font-size: $ms-font-size-12;
	font-weight: $ms-font-weight-regular;
	color: $ms-color-gray160;
	overflow-x: auto;
	overflow-y: visible;
	background: $ms-color-white;

	.ms-list-header {
		display: table-header-group;
	}

	.ms-list-header-row {
    position: relative;
    width: 100%;
    vertical-align: top;
		display: table-row;
    white-space: nowrap;
    box-sizing: content-box;
    cursor: default;
    user-select: none;
    background: $ms-color-white;
	}
	
	.ms-list-body .ms-list-row:hover, .ms-list-body .ms-list-row.ms-list-row-checked {
		color: $ms-color-gray160;
		background: $ms-color-gray20;

		.ms-list-check, .ms-list-row-cell {
			border-bottom-color: $ms-color-white;
		}
	}

	&.ms-list-compact .ms-list-body .ms-list-row {
		.ms-list-check, .ms-list-row-cell {
			border-bottom: none;
		}
	}
	
	.ms-list-check {
		position: relative;
    display: table-cell;
		box-sizing: border-box;
    color: $ms-color-gray160;
    padding: 0px;
    line-height: inherit;
    margin: 0px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    align-items: center;
    outline: transparent;
		border: none;
		border-bottom: 1px solid $ms-color-gray30;

		&.ms-list-check-checked {
			.ms-list-check-content {
				&::before {
					background: $ms-color-blue;
				}
	
				i {
					color: $ms-color-white;
					font-weight: 900;
				}
	
				.ms-list-check-circle, .ms-list-check-check {
					display: inline-block;
				}
			}
		}
		
		.ms-list-check-content {
			position: relative;
			display: inline-block;
			font-size: $ms-font-size-14;
			font-weight: $ms-font-weight-regular;
			line-height: 1;
			vertical-align: top;
			user-select: none;
			border: none;
			background-color: transparent;
			outline: none;
			
			&::before {
				content: "";
				position: absolute;
				top: 1px;
				right: 1px;
				bottom: 1px;
				left: 1px;
				opacity: 1;
				border-radius: 50%;
				background: $ms-color-white;
			}
			
			i {
				font-style: normal;
				font-weight: normal;
				speak: none;
				font-family: FabricMDL2Icons;
				position: absolute;
				text-align: center;
				vertical-align: middle;
				color: $ms-color-gray130;
			}
			
			.ms-list-check-circle {
				font-size: $ms-font-size-18;
				left: 0px;
				top: 0px;
			}
			
			.ms-list-check-check {
				font-size: $ms-font-size-16;
				left: 0.5px;
				top: 0px;
			}
		}
	}
	
	.ms-list-header-cell {
		position: relative;
		display: table-cell;
    color: $ms-color-gray160;
    box-sizing: border-box;
    line-height: inherit;
    margin: 0px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: $ms-font-size-14;
		font-weight: $ms-font-weight-semibold;
		border-bottom: 1px solid $ms-color-gray30;
		
		&:hover {
			background: $ms-color-gray20;
		}

		&.background {
			background-color: transparent;
		}
	}

	.ms-list-resize {
		display: inline-block;
    position: absolute;
    cursor: ew-resize;
    bottom: 0px;
		top: 0px;
		right: 0px;
    z-index: 1;
    width: $ms-font-size-16;
    outline: transparent;
    overflow: hidden;
		background: transparent;
		border: none;
		
		&::after {
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0px;
			width: 1px;
			display: none;
			left: 50%;
			background: $ms-color-gray60;
		}

		&:hover::after {
			display: inline-block;
		}
	}

	.ms-list-body {
		display:table-row-group;

		.ms-list-row {
			position: relative;
			display: table-row;
			width: 100%;
			padding: 0px;
			color: $ms-color-gray130;
			white-space: nowrap;
			text-align: left;
			cursor: default;
			user-select: none;
			outline: transparent;
			background: $ms-color-white;
		}
		
		.ms-list-row-cell {
			position: relative;
			display: table-cell;
			box-sizing: border-box;
			vertical-align: top;
			white-space: nowrap;
			text-overflow: ellipsis;
			outline: transparent;
			overflow: hidden;
			border-bottom: 1px solid $ms-color-gray20;
		}
	}

	&.ms-list-row-variable {
		.ms-list-body .ms-list-row {
			height: auto;
		}
	
		.ms-list-body .ms-list-row-cell {
			height: auto;
			overflow: hidden;
			text-overflow: inherit;
			white-space: normal;
			word-break: break-all;
			line-height: 1.5;
		}
	}
}

.ms-list-md {
	.ms-list-header-row {
    height: $ms-font-size-32;
    padding-bottom: 1px;
		padding-top: 1px;
		
		.ms-list-check {
			height: $ms-font-size-32;
			padding: 7px 14px;
		}
	}

	.ms-list-check {
		width: 40px;
	}

	.ms-list-check .ms-list-check-content, .ms-list-check .ms-list-check-content i {
		height: $ms-font-size-18;
		width: $ms-font-size-18;
	}

	.ms-list-header-cell {
		padding: 0px 8px 0px 12px;
		height: $ms-font-size-32;
		line-height: $ms-font-size-32;
	}

	.ms-list-row {
		height: $ms-font-size-42;

		.ms-list-check {
			height: $ms-font-size-42;
			padding: 12px 14px;
		}
	}

	.ms-list-row-cell {
		height: $ms-font-size-42;
		max-width: 300px;
		line-height: $ms-font-size-42;
		padding: 0 8px 0 12px;
	}

	&.ms-list-compact {
		.ms-list-row {
			height: $ms-font-size-32;
	
			.ms-list-check {
				height: $ms-font-size-32;
				padding: 7px 14px;
			}
		}
	
		.ms-list-row-cell {
			height: $ms-font-size-32;
			line-height: $ms-font-size-32;
		}
	}

	&.ms-list-row-variable {
		.ms-list-row	.ms-list-check {
			height: $ms-font-size-32;
			padding: 7px 14px;
		}
	
		.ms-list-row-cell {
			padding: 7px 14px;
		}
	}
}

.ms-list-selection-hover {
	.ms-list-check-circle, .ms-list-check-check {
		display: none;
	}

	.ms-list-header-row:hover, .ms-list-body .ms-list-row:hover {
		.ms-list-check .ms-list-check-content .ms-list-check-circle {
			display: inline-block;
		}
	}

	.ms-list-check:hover {
		.ms-list-check-content .ms-list-check-check {
			display: inline-block;
		}
	}
}

.ms-list-selection-disabled {
	.ms-list-check {
		display: none;
	}
}