@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-label {
	display: block;
	font-weight: $ms-font-weight-semibold;
	padding: 5px 0px;
	overflow-wrap: break-word;
}

.ms-label-default {
	color: $ms-color-gray160;
}

.ms-label-disabled {
	color: $ms-color-neutralTertiary;
}

.ms-label-required {
	color: $ms-color-gray160;
	&::after {
    content: ' *';
    color: $ms-color-error;
  }
}

.ms-label-sm {
	font-size: $ms-font-size-12;
	font-weight: $ms-font-weight-regular;
	padding: 3px 0px;
}

.ms-label-md {
	font-size: $ms-font-size-14;
}

.ms-label-lg {
	font-size: $ms-font-size-16;
	padding: 7px 0px;
}