@import 'scss/_References.scss';

.ms-calendar {
	position: relative;
	box-sizing: content-box;
	font-family: inherit;
	display: inline-block;
	width: auto;
	background-color: $ms-color-white;

	&.ms-calendar-range .ms-calendar-wrapper .ms-calendar-zone table.ms-calendar-datepicker-table tr td {
		border-radius: 0px;
	}

	&.ms-calendar-outline .ms-calendar-wrapper{
		box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
	}
	
	.ms-calendar-wrapper {
		display: block;
		width: auto;

		.ms-calendar-datepicker,
		.ms-calendar-divider,
		.ms-calendar-monthpicker,
		.ms-calendar-yearpicker {
			display: inline-block;
			height: 100%;
			width: auto;
		}
	}

	button {
		font-family: inherit;
		border-radius: 2px;
		background-color: transparent;
		border: none;
		padding: 0;
		outline: transparent;
		cursor: pointer;
		background-color: transparent;
		font-size: $ms-font-size-12;

		&[disabled="disabled"] {
			color: $ms-color-gray60;
			cursor: default;

			i {
				color: $ms-color-gray60;
			}
		}
	}

	.ms-calendar-header {
		width: 100%;
		height: 100%;
		display: table;

		.ms-header-text, .ms-header-tool {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
		}

		.ms-header-text {
			color: #323130;
			font-weight: $ms-font-weight-semibold;
			font-size: $ms-font-size-14;
			cursor: pointer;
		}

		.ms-header-tool {
			button {
				float: left;
				font-family: inherit;
				color: #323130;
				border-radius: 2px;
				position: relative;
				background-color: transparent;
				border: none;
				padding: 0;
				outline: transparent;
				cursor: pointer;
				background-color: transparent;

				&[disabled="disabled"] {
					cursor: default;
				}
			}
		}

		i {
			font-family: FabricMDL2Icons;
			display: inline-block;
			font-weight: $ms-font-weight-regular;
		}
	}

	.ms-calendar-zone {
		width: 100%;

		.ms-calendar-datepicker-table tr td.ms-date-selected.ms-data-enabled,
		.ms-calendar-datepicker-table tr td button.ms-data-enabled.ms-date-selected {
			background: #c7e0f4;
			color: #323130;
			font-weight: $ms-font-weight-semibold;
		}

		table {
			text-align: center;
			border-collapse: collapse;
			border-spacing: 0;
			table-layout: fixed;
			font-size: $ms-font-size-12;
			width: 100%;
		}

		thead tr th, tr td, tbody tr th {
			font-size: $ms-font-size-12;
			font-weight: $ms-font-weight-regular;
		}

		thead tr th, tbody tr th {
			color: #323130;
			font-weight: 500;
		}

		tr td {
			border-radius: 2px;

			button {
				color: #605e5c;

				&[disabled="disabled"] {
					color: $ms-color-gray60;
					cursor: default;
				}

				&.ms-today {
					color: #ffffff;
					font-weight: $ms-font-weight-semibold;
					background: $ms-color-blue;
				}
			}
		}
	}

	.ms-calendar-goto {
		width: auto;
		padding: 0 3px;
		font-size: $ms-font-size-12;
		font-weight: $ms-font-weight-regular;
		position: absolute;
		color: #323130;
	}
}

.ms-calendar-md {
	height: 235px;
	padding-bottom: $ms-font-size-28;

	.ms-calendar-wrapper {
		height: 100%;
		padding: $ms-font-size-12;
	}

	.ms-calendar-wrapper-overlaid {
		padding-bottom: 28px;
	}

	.ms-calendar-header {
		height: $ms-font-size-28;
		line-height: $ms-font-size-28;

		.ms-header-text {
			padding: 0 10px;
		}

		.ms-header-tool {
			width: 58px;
			button {
				width: 29px;
				height: $ms-font-size-28;
				line-height: $ms-font-size-28;
			}
		}
	}

	.ms-calendar-zone table {
		margin-top: 4px;
		width: 200px;
	}

	.ms-calendar-monthpicker-goto.ms-calendar-goto {
		bottom: 22px;
	}

	.ms-calendar-goto {
		right: 20px;
		height: 30px;
		bottom: -10px;
    line-height: 30px;
	}
}