@import 'scss/_References.scss';

.ms-modal, .ms-dialog, .ms-panel {
	font-family: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;
	color: $ms-color-gray160;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	outline: 0;

	button {
		outline: none;
		border: none;
	}

	.ms-modal-main {
		position: relative;
    width: auto;
		max-height: 100%;
    overflow-y: auto;
    border-radius: 2px;
		background-color: $ms-color-white;
		box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
		outline: transparent solid 3px;
		text-align: left;
		cursor: move;
		z-index: 100;

		.ms-variant-default {
			background-color: $ms-color-white;
	
			p {
				color: $ms-color-gray130;
			}
		}
	}


	.ms-modal-overlay {
		position: fixed;
    top: 0;
    left: 0;
    width: 100%;
		height: 100%;
		opacity: .5;
		background-color: transparent;
		overflow: hidden;

		&.ms-modal-overlay-light {
			background-color: $ms-color-white;
		}
		
		&.ms-modal-overlay-dark {
			background-color: $ms-color-black;
		}
	}
}

.ms-modal-md, .ms-dialog-md, .ms-panel-md {

	.ms-modal-center {
		&.ms-modal-main {
			margin: 17% auto; //center如何实现
		}
	}

	.ms-modal-main {
		margin: 28px auto;
	}
}

.ms-modal {
	.ms-modal-header {
		font-size: $ms-font-size-28;
		font-weight: $ms-font-weight-semibold;
		color: $ms-color-white;
	}

	.ms-modal-body {
		padding: 5px 28px;
		overflow-y: hidden;
		
		p {
			font-size: $ms-font-size-16;
		}
	}
}

.ms-modal-md {
	.ms-modal-header {
    padding: 16px 28px;
	}

	.ms-modal-body {
		padding: 5px 28px;

		p {
			line-height: 22px;
		}
	}
}

.ms-dialog, .ms-panel {
	.ms-modal-header {
		.button-close {
			button i {
				color: $ms-color-white;
				font-size: $ms-font-size-16;
				font-weight: $ms-font-weight-regular;
			}
		}

		&.ms-variant-default {
			.button-close {
				button i {
					color: $ms-color-gray130;
				}
			}
		}
	}

	.ms-modal-footer {
		.ms-modal-action {
			position: relative;
			width: 100%;

			.ms-button button {
				vertical-align: middle;
			}
		}
	}
}

.ms-dialog {
	.ms-modal-header {
		position: relative;
		width: 100%;
		
		p {
			font-size: $ms-font-size-20;
			font-weight: $ms-font-weight-semibold;
			color: $ms-color-white;
			margin: 0px;
			line-height: normal;
		}

		.button-close {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	.ms-modal-body {
		.ms-modal-content {
			font-size: $ms-font-size-12;
			font-weight: $ms-font-weight-regular;
			color: $ms-color-gray160;
			line-height: 1.5;
			overflow-wrap: break-word;
		}
	}

	.ms-modal-footer {
		.ms-modal-action {
			position: relative;
			width: 100%;
			text-align: right;

			.ms-button button {
				vertical-align: middle;
			}
		}
	}

	&.ms-dialog-md {
		.ms-modal-main {
			max-width: 340px;
			min-width: 288px;
			padding-bottom: 24px;
		}

		.ms-modal-header {
			p {
				padding-top: 16px;
				padding-right: 46px;
				padding-bottom: 24px;
				padding-left: 24px;
			}

			.button-close {
				padding-top: 14px;
				padding-right: 14px;
				padding-bottom: 0px;
				padding-left: 0px;
			}
		}

		.ms-modal-body, .ms-modal-footer {
			padding: 0px 24px;
		}

		.ms-modal-body {
			.ms-modal-content {
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 20px;
				margin-left: 0px;
				padding-top: 8px;
			}
		}

		.ms-modal-footer {
			.ms-modal-action {
				height: $ms-font-size-32;
				margin-top: 16px;
				margin-right: -4px;
				margin-bottom: 0px;
				margin-left: 0px;
			}

			.ms-button .ms-button-label {
				height: 30px;
				line-height: 30px;
			}

			.ms-button button {
				height: $ms-font-size-32;
				min-width: 80px;
				padding: 0px 16px;
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				margin-right: 4px;
			}
		}
	}
}

.ms-panel {
	.ms-modal-center.ms-modal-main {
		margin: 0;
	}

	.ms-modal-main {
		position: absolute;
		margin: 0px;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 977px;
		height: 100%;
		width: 272px;
	}

	.ms-modal-header {
		padding: 0px 5px;
    height: 44px;
	}

	.button-close {
		float: right;

		button {
			height: 44px;
			padding: 0px;
			i {
				height: 44px;
				line-height: 44px;
			}
		}
	}

	.ms-panel-title {
		padding: 0 32px;
		margin: 14px 0;
	}

	.ms-modal-content {
		padding: 0 32px 20px;
		line-height: 1.2em;
	}
	
	.ms-panel-title p {
		font-family: inherit;
    font-size: $ms-font-size-20;
    font-weight: $ms-font-weight-semibold;
    color: $ms-color-gray160;
    line-height: 27px;
    margin: 0px;
	}

	.ms-modal-footer {
		.ms-modal-action {
			margin-top: 0px;
			width: 100%;
		}

		padding: 16px 32px;

		.ms-button .ms-button-label {
			height: 30px;
			line-height: 30px;
		}
	
		.ms-button button {
			height: $ms-font-size-32;
			min-width: 80px;
			padding: 0px 16px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
		}
	}

	&.ms-panel-sm {
		.ms-modal-main {
			width: 340px;
		}
	}

	&.ms-panel-md {
		.ms-modal-main {
			width: 644px;
		}
	}

	&.ms-panel-lg {
		.ms-modal-main {
			width: 940px;
		}
	}

	&.ms-panel-fluid {
		.ms-modal-main {
			width: 100%;
		}
	}

	&.ms-panel-right {
		.ms-modal-main {
			top: 0;
			right: 0;
		}
		
	}

	&.ms-panel-left {
		.ms-modal-main {
			top: 0;
			left: 0;
		}
	}
}