@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-spin-button {
	width: 100%;
	display: table;
	font-family: inherit;
	font-size: $ms-font-size-14;
	font-weight: $ms-font-weight-regular;

	.ms-spin-button-label, .ms-spin-button-input {
		display: table-cell;
		vertical-align: top;
		height: 100%;
	}

	.ms-spin-button-label {
		white-space: nowrap;
		font-weight: $ms-font-weight-semibold;

		i, span {
			vertical-align: middle;
		}

		i {
			font-size: $ms-font-size-20;
		}

		span {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			margin: 0px;
		}
	}

	.ms-spin-button-input {
		position: relative;
		width: 100%;
    border: 1px solid $ms-color-gray110;
		border-radius: 2px;
		background-color: $ms-color-white
	}

	.ms-spin-button-input-handler {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;

		button {
			display: block;
			width: 100%;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			background-color: transparent;
			outline: none;
			border: none;
			padding: 0px;

			i {
				font-size: 8px;
				display: block;
			}
		}
	}

	input[type=text] {
		width: 100%;
		height: 100%;
		font-family: inherit;
		font-size: inherit;
		box-sizing: border-box;
    box-shadow: none;
    margin: 0px;
    cursor: text;
    user-select: text;
    border-style: none;
    outline: 0px;
		overflow: hidden;
		background-color: transparent;
		text-overflow: ellipsis;
		word-wrap: nowrap;
		border-radius: 2px 0px 0px 2px;
	}
}

.ms-spin-button-md {
	height: 32px;

	.ms-spin-button-label {
		width: 10px;

		i, span {
			display: inline-block;
			height: 32px;
			line-height: 32px;
		}
	}

	.ms-spin-button-label-start {
		padding-right: 10px;
	}

	.ms-spin-button-label-end {
		padding-left: 10px;
	}

	.ms-spin-button-input-handler {
		width: 23px;

		button {
			height: 15px;
			i {
				height: 15px;
				line-height: 15px;
			}
		}
	}

	input[type=text] {
    padding: 0px 8px;
	}
}

.ms-spin-button-enabled {
	.ms-spin-button-label, input[type=text] {
		color: $ms-color-gray160;
	}

	button {
		cursor: pointer;
		color: $ms-color-gray130;

		&:hover {
			background-color: $ms-color-gray20;
		}
	}

	.ms-spin-button-input {
		&:hover {
			border-color: $ms-color-gray160;
    	outline: transparent dashed 2px;
		}
	}

	&.ms-spin-button-active {
		.ms-spin-button-input {
			border-color: $ms-color-blue;
    	outline: transparent dashed 2px;
		}
	}
}

.ms-spin-button-disabled {
	.ms-spin-button-label, button i, .ms-spin-button-input input[type=text] {
		color: $ms-color-gray90;
	}

	.ms-spin-button-input {
		border-color: transparent;
		background-color: $ms-color-gray20;
	}

	button {
		cursor: default;
	}
}