@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-datepicker {
	position: relative;

	.ms-text-field-enabled .ms-text-field-group-inline .ms-text-field-input input  {
		cursor: pointer;
	}

	.ms-calendar {
		position: absolute;
		z-index: $ms-zIndex-3;
	}
}