@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-checkbox {
	color: $ms-color-gray160;
	height: 100%;

	.ms-toggle-md .ms-toggle-label, .ms-toggle-md .ms-toggle-end {
		margin: 0px;
	}

	label {
		display: inline-block;
		height: 100%;

		.ms-virtual-checkbox {
			border-width: $ms-focus-border-width;
			text-align: center;
			float: left;
		}
	}

	&.ms-checkbox-sm {
		label {
			font-size: $ms-font-size-12;
			line-height: 12px;
	
			.ms-virtual-checkbox {
				margin-right: 4px;
				height: $ms-icon-size-s;
				width: $ms-icon-size-s;

				i {
					line-height: 10px;
				}

				&.box-right {
					margin-left: 4px;
				}
			}
	
			span {
				font-size: $ms-font-size-12;
			}
		}
	}

	&.ms-checkbox-md {
		label {
			font-size: $ms-font-size-14;
			line-height: 16px;
	
			.ms-virtual-checkbox {
				margin-right: 6px;
				height: $ms-icon-size-m;
				width: $ms-icon-size-m;

				i {
					line-height: 14px;
				}

				&.box-right {
					margin-left: 6px;
				}
			}
	
			span {
				font-size: $ms-font-size-14;
			}
		}
	}

	&.ms-checkbox-lg {
		label {
			font-size: $ms-font-size-16;
			line-height: 20px;
	
			.ms-virtual-checkbox {
				margin-right: 8px;
				height: $ms-icon-size-l;
				width: $ms-icon-size-l;

				i {
					line-height: 18px;
				}

				&.box-right {
					margin-left: 8px;
				}
			}
	
			span {
				font-size: $ms-font-size-16;
			}
		}
	}

	input[type="checkbox"] {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0px;
		opacity: 0;
		z-index: $ms-zIndex-3;
    background: transparent;
		padding: 0;
		cursor: pointer;
	}

	label {
		position: relative;
		line-height: 100%;
		font-family: $ms-font-family-west-european;
		font-weight: $ms-font-weight-regular;
		text-align: left;
		vertical-align: middle;
		user-select: none;

		.ms-virtual-checkbox {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			line-height: 100%;
			border-style: solid;
			overflow: hidden;
			border-radius: 2px;

			&.box-right {
				float: right;
				margin-left: 10px;
				margin-right: 0;
		
				&:after {
					clear: both;
				}
			}

			i {
				display: block;
				box-sizing: border-box;
				-webkit-font-smoothing: antialiased;
				font-style: normal;
				font-weight: normal;
				height: 100%;
			}
		}

		span {
			display: inline-block;
			vertical-align: top;
			height: 100%;
		}
	}

	&.ms-checkbox-unchecked {
		.ms-virtual-checkbox {
			border-color: $ms-color-gray160;
	
			i  {
				opacity: 0;
				color: $ms-color-white;
			}
		}
	}
	

	&.ms-checkbox-checked {
		.ms-virtual-checkbox {
			border-color: $ms-color-blue;
			background: $ms-color-blue;
			
			i  {
				color: $ms-color-white;
			}
		}
	}

	&.ms-checkbox-enabled {
		label {
			cursor: pointer;
		}

		&.ms-checkbox-unchecked {
			label:hover .ms-virtual-checkbox i {
				color: $ms-color-gray90;
				opacity: 1;
			}
		}
		
	
		&.ms-checkbox-checked {
			label:hover .ms-virtual-checkbox {
				background: $ms-color-communicationShade10;
				border-color: $ms-color-communicationShade10;
			}
		}
	}

	&.ms-checkbox-disabled {
		&.ms-checkbox-unchecked {
			.ms-virtual-checkbox {
				border-color: $ms-color-gray60;
			}
		}

		&.ms-checkbox-checked {
			.ms-virtual-checkbox {
				border-color: $ms-color-gray60;
				background: $ms-color-gray60;
			}
		}

		input[type="checkbox"] {
			cursor: default;
		}

		label span {
			color: $ms-color-gray90;
			cursor: default;
		}
	}
}