@import 'scss/_References.scss';

.ms-checkbox {
	color: $ms-color-gray160;
	height: 100%;

	&.ms-checkbox-md {
		margin-top: 10px;
		
		label {
			display: inline-block;
			font-size: $ms-font-size-14;
			line-height: 20px;
			height: 100%;
	
			.ms-virtual-checkbox {
				height: $ms-icon-size-l;
				width: $ms-icon-size-l;
				margin-right: 10px;
				border-width: $ms-focus-border-width;
				text-align: center;
				float: left;
			}
	
			span {
				font-size: $ms-font-size-14;
				// margin-left: 4px;
			}
		}

		input[type="checkbox"] {
			height: $ms-icon-size-l;
			width: $ms-icon-size-l;
		}
	}

	input[type="checkbox"] {
		box-sizing: border-box;
		position: absolute;
		margin: 0px;
		opacity: 0;
		z-index: $ms-zIndex-3;
    background: transparent;
		padding: 0;
		cursor: pointer;
	}

	label {
		position: relative;
		line-height: 100%;
		font-family: $ms-font-family-west-european;
		font-weight: $ms-font-weight-regular;
		text-align: left;
		vertical-align: middle;
		user-select: none;

		.ms-virtual-checkbox {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			line-height: 100%;
			border-style: solid;
			overflow: hidden;
			border-radius: 2px;

			&.box-right {
				float: right;
				margin-left: 10px;
				margin-right: 0;
		
				&:after {
					clear: both;
				}
			}

			i {
				display: inline-block;
				box-sizing: border-box;
				vertical-align: middle;
				-webkit-font-smoothing: antialiased;
				font-style: normal;
				font-weight: normal;
				font-family: FabricMDL2Icons;
			}
		}

		span {
			display: inline-block;
			height: 100%;
		}
	}

	&.ms-checkbox-unchecked {
		.ms-virtual-checkbox {
			border-color: $ms-color-gray160;
	
			i  {
				opacity: 0;
				color: $ms-color-white;
			}
		}
	}
	

	&.ms-checkbox-checked {
		.ms-virtual-checkbox {
			border-color: $ms-color-blue;
			background: $ms-color-blue;
			
			i  {
				color: $ms-color-white;
			}
		}
	}

	&.ms-checkbox-enabled {
		label {
			cursor: pointer;
		}

		&.ms-checkbox-unchecked {
			label:hover .ms-virtual-checkbox i {
				color: $ms-color-gray90;
				opacity: 1;
			}
		}
		
	
		&.ms-checkbox-checked {
			label:hover .ms-virtual-checkbox {
				background: $ms-color-communicationShade10;
				border-color: $ms-color-communicationShade10;
			}
		}
	}

	&.ms-checkbox-disabled {
		&.ms-checkbox-unchecked {
			.ms-virtual-checkbox {
				border-color: $ms-color-gray60;
			}
		}

		&.ms-checkbox-checked {
			.ms-virtual-checkbox {
				border-color: $ms-color-gray60;
				background: $ms-color-gray60;
			}
		}

		input[type="checkbox"] {
			cursor: default;
		}

		label span {
			color: $ms-color-gray90;
			cursor: default;
		}
	}
}