@import 'scss/_References.scss';

.ms-text-field {
	font-family: inherit;
	color: $ms-color-gray160;
	width: 100%;

	label {
		color: $ms-color-gray160;
	}

	i {
		font-family: "FabricMDL2Icons";
    font-style: normal;
    font-weight: normal;
	}

	.ms-text-field-group-inline {
		width: 100%;
		height: 100%;
    background: $ms-color-white;
		box-sizing: border-box;

		.ms-text-field-icon {
			font-size: $ms-font-size-16;
		}

	}

	.ms-text-field-group-multi {
		height: auto;
		width: auto;
    background: $ms-color-white;
		
		.ms-text-area-unresize {
			resize: none;
		}
	}


	textarea, input {
		font-size: $ms-font-size-14;
		font-weight: $ms-font-weight-regular;
		font-family: inherit;
		width: 100%;
		max-width: 100%;
		height: 100%;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0px;
    color: $ms-color-gray190;
		outline: none;
		cursor: text;
		border: none;
	}

	input {
    border-radius: 0px;
		background: none transparent;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	textarea {
    padding: 6px 8px;
		line-height: 17px;
		overflow: auto;
	}

	.ms-text-field-msg {
		font-size: 12px;
    font-weight: $ms-font-weight-regular;
	}
}

.ms-text-field-md {
	&.ms-text-field-standard{
		.ms-text-field-group-inline {
			height: 30px;
			
			.ms-text-field-fix {
				span {
					display: inline-block;
					height: 30px;
					line-height: 30px;
					vertical-align: middle;
				}
			}
	
			.ms-text-field-icon i {
				display: inline-block;
				height: 100%;
				line-height: 30px;
			}
	
			.ms-text-field-fix, .ms-text-field-icon {
				padding: 0px 10px;
			}
		}
	
		input {
			display: inline-block;
			padding: 0px 8px;
			vertical-align: middle;
			line-height: 30px;
			height: 30px;
		}
	
		.ms-text-field-msg {
			margin: 0px;
			padding-top: 5px;
		}
	}

	&.ms-text-field-underline {
		height: 32px;

		.ms-text-field-label,
		.ms-text-field-group-inline,
		.ms-text-field-input input {
			height: 32px;
		}

		.ms-text-field-input input {
			line-height: 22px;
		}

		.ms-text-field-label {
			height: 32px;
			width: auto;
			padding: 4px 0;

			label {
				min-width: 1em;
				margin: 0px 8px 0 0;
				padding: 5px 12px 5px 12px;
				position: relative;
			}

			.ms-label-required::after {
				position: absolute;
				top: 0;
				right: 0
			}
		}
	}
}

.ms-text-field-standard {
	.ms-text-field-group-inline {
		display: table;
		border: 1px solid $ms-color-gray110;
		border-radius: 2px;

		.ms-text-field-fix {
			color: $ms-color-gray130;
			white-space: nowrap;
			background: $ms-color-gray20;
		}

		.ms-text-field-fix, .ms-text-field-input {
			vertical-align: top;
		}

		.ms-text-field-fix, .ms-text-field-icon {
			display: table-cell;
			height: 100%;
			font-size: $ms-font-size-14;
			padding: 0px 10px;
		}

		.ms-text-field-icon {
			font-size: $ms-font-size-16;
		}

		.ms-text-field-input {
			display: table-cell;
			width: 100%;
			height: 100%;
			cursor: text;
		}
	}

	.ms-text-field-group-multi {
		height: auto;
		width: auto;
    border: 1px solid $ms-color-gray110;
    background: $ms-color-white;
		border-radius: 2px;
		box-sizing: border-box;
		
		.ms-text-area-unresize {
			resize: none;
		}
	}
}

.ms-text-field-enabled {
	.ms-text-field-group-inline, .ms-text-field-group-multi {
		&:hover {
			border-color: $ms-color-gray160;
		}
	}

	.ms-text-field-msg {
		color: $ms-color-gray130;
	}
}

.ms-text-field-disabled {
	label {
		color: $ms-color-gray90;
	}

	.ms-text-field-group-inline {
		.ms-text-field-fix {
			color: $ms-color-gray90;
		}

		.ms-text-field-icon, input {
			color: $ms-color-gray90;
			background-color: $ms-color-gray20;
			cursor: default;
		}
	}

	.ms-text-field-group-multi, .ms-text-field-group-multi textarea {
		color: $ms-color-gray90;
		background-color: $ms-color-gray20;
	}

	.ms-text-field-group-multi textarea {
		resize: none;
	}
}

.ms-text-field-primary {
	.ms-text-field-label label {
		color: $ms-color-blue;
	}

	.ms-text-field-group-inline, .ms-text-field-group-multi {
		border-top-color: $ms-color-sharedRed20;
	}
}

.ms-text-field-underline {
	border-bottom: 1px solid $ms-color-gray110;
	width: 100%;
	display: table;

	.ms-text-field-label, .ms-text-field-group-inline, .ms-text-field-group-multi {
		display: table-cell;
		height: 100%;
		vertical-align: top;
	}

	&.ms-text-field-disabled input, .ms-text-field-disabled textarea {
		background-color: $ms-color-white
	}

	&.ms-text-field-multi {
		.ms-text-field-label, .ms-text-field-group-multi {
			display: block;
			width: auto;
			height: auto;
		}
	}
}

.ms-text-field-borderless {
	.ms-text-field-group-inline, .ms-text-field-group-multi {
		border-color: transparent;

		&:hover {
			border-color: transparent;
		}
	}
}

.ms-text-field-error {
	.ms-text-field-group-inline,  .ms-text-field-group-multi {
		border-color: $ms-color-sharedRed10;

		&:hover {
			border-color: $ms-color-sharedRed20;
		}
	}

	.ms-text-field-msg {
    color: $ms-color-sharedRed10;
	}
}

