@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-link {
	font-family: inherit;
	font-weight: $ms-font-weight-regular;
	color: $ms-color-blue;
	display: inline;
	margin: 0;
	padding: 0;
	text-align: left;
	background: none;
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;

	&:hover, &:active {
		color: $ms-color-communicationShade30;
		text-decoration: underline;
	}

	&.ms-link-disabled {
		cursor: default;

		&:hover, &:active {
			text-decoration: none;
		}
	}
}

.ms-link-sm {
	font-size: $ms-font-size-12;
}

.ms-link-md {
	font-size: $ms-font-size-14;
}

.ms-link-lg {
	font-size: $ms-font-size-16;
}